extends layouts/default.pug

block variables
	- const title = "Dashboard"

block content
	h1.mb-4 Account Settings

	div#change-email.settings
		h3 Email
		span #{user.username} #[a(href="") Change]
	
	div#change-password.settings
		h3 Password
		if (user.hasPassword)
			a(href="") Change password
		else
			p You have not set a password for your account 
			a(href="") Set password

	div#linked-accounts.settings
		h3 Manage Linked Accounts
		if user.googleId || user.githubId
			ul
				if user.googleId
					li#google Google #[a(href="/oauth/google/revoke") Unlink]
					iframe#dummy(name="dummy")
					form#revoke-google(method="post" action="https://oauth2.googleapis.com/revoke" target="dummy")
						input(type="hidden" name="token" value=googleToken)
				if user.githubId
					li#github Github #[a(href="/oauth/github/revoke") Unlink]
		else
			span No linked accounts

	div#delete-account.settings
		h3 Delete Account
		button Delete

block extra-scripts
	script(src="/js/account.js") 